<a href="https://colab.research.google.com/github/Leyliiii/Elective-1-3/blob/main/Operations_and_Expressions_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Boolean Operators

In [3]:
x = 10
y = 9

#Returns boolean value of either True or False
print(x>y)
print(x==y)

True
False

In [9]:
#bool() function allows to evaluate any value, and return True or False
#Almost any value is returned as True if it has some sort of context

print(bool("Ashley May"))
print(bool(25))

#None,empty, 0, and [] returns as False
print(bool(None))
print(bool())
print(bool(0))
print(bool([]))

True
True
False
False
False
False

##Defining Function

In [8]:
#Functions can return a boolean: "def myFunction():"

def myFunction():
  return True

print(myFunction())

True

In [11]:
def myFunction():
  return False

if myFunction(): #Will return the value based on the declaration of myFunction
  print("YES!")
else:
  print("NO!")

NO!

## Application 1

In [12]:
print(10>9)

a=6
b=7
print(a==b)
print(a!=a)

True
False
False

##Arithmetic Operations

In [16]:
#Python Operators are used to perform operations on variables and values
#// - floor division ; ** - power

#recent values from PREVIOUS cell can be used
print(a+b)
print(a-b)
print(a*b)
print(a**b)

13
-1
42
279936

##Bitwise Operators

In [23]:
#Python Bitwise Operators works on bit-by-bit operations
c=60
d=13

print(c & d)
print(c | d)
print(c ^ d)
print(c << 1) #Shifts the binary sequence to the left
print(c << 2)
print(c >> 1) #Shifts the binary sequence to the right

12
61
49
120
240
30

##Assignment *Operators*

In [26]:
# c+=3 is the same as c = c+3

c+=3
c%=3

print(c)

0

##Logical Operators

In [31]:
c = True
d = True

print(c and d)
not(c and d)

True

False

##Identity

In [33]:
print(c is d)
c is not d

False

## Application 2

In [43]:
e = 10
f = 5

#Implement the operations + , // , and bit shift right >>

print(e + f)
print(e // f)
print(e>>2) #1010 >> 0101 >> 0010
print(f>>2) #0101 >> 0010 >> 0001

15
2
2
1